<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <JSONLayout compact="true" eventEol="true" properties="true"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.http4s" level="warn">
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
